.sort {
  position: relative;
  display: flex;
  margin-top: 40px;
}

.sort_label {
  display: flex;

  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.sort_svg {
  margin-right: 8px;
  transform: rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sort_svg_open {
  transform: rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sort_text {
  margin-right: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.sort_span {
  cursor: pointer;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.sort_popup {
  position: absolute;
  top: 45px;
  right: -50px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
}
.sort_list {
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
}
.sort_item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}

.sort_item:not(:last-child) {
  margin-bottom: 5px;
}

.active,
.sort_item:hover {
  background: rgba(254, 95, 30, 0.05);
}

.active {
  font-weight: bold;
  color: orangered;
}

.go_back_btn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 30px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_svg {
  transform: rotate(270deg);
}

.go_back_btn:hover {
  background-color: #c891ff;
}

.go_back_btn:active {
  transform: translateY(2px);
}
