.categories {
  margin-top: 50px;
  padding-left: 70px;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
}
.item {
  background-color: #ebd8ff;
  padding: 4px 15px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.item:hover,
.item:focus {
  background: #c891ff;
}

.item:active {
  background-color: darken(#f9f9f9, 5%);
}

.active {
  background-color: #282828;
  transform: translateY(2px);
  color: #fff;
}

.go_back_btn {
  background-color: #ebd8ff;
  padding: 4px 15px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  border: none;
}

.go_back_btn:hover,
.go_back_btn:focus {
  background: #c891ff;
}
